{% extends "base.html" %}
{% block content %}
  <style>
    .container-fluid h1 {
      text-align: center;
    }

    .container-fluid {
      display: flex;
      flex-direction: column;
    }

    .container-fluid form {
      text-align: center;
    }

  </style>

    <h1>{% block title %} Add a New Film {% endblock %}</h1>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" onclick="delete_flash(this)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" onclick="delete_flash(this)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <form method="post">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name"
               placeholder="Type name"
               value="{{ request.form['name'] }}"></input>
        <br>

        <label for="duration">Duration</label>
        <br>
        <input type="text" name="duration"
               placeholder="Type duration"
               value="{{ request.form['duration'] }}"></input>
        <br>

        <label for="rating">Rating</label>
        <br>
        <input type="text" name="rating"
               placeholder="Type rating"
               value="{{ request.form['rating'] }}"></input>
        <br>

        <label for="year">Year</label>
        <br>
        <input type="text" name="year"
               placeholder="Type year"
               value="{{ request.form['year'] }}"></input>
        <br>

        <label for="imdb">IMDB</label>
        <br>
        <input type="text" name="imdb"
               placeholder="Type IMDB"
               value="{{ request.form['imdb'] }}"></input>
        <br>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
{% endblock %}
